.loading-text {
  font-size: 0.95rem;

  .spinner {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: girar 0.7s linear infinite;
  }
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
